ORCA_SITE_URL=https://orca-tx.com
ORCA_AUTH_SECRET=replace_with_32_plus_random_bytes
RESEND_API_KEY=re_live_replace_me
ORCA_EMAIL_FROM=Orca <accounts@orca-tx.com>
ORCA_PREFLIGHT_EMAIL_TO=ops@orca-tx.com

DATABASE_URL=postgres://user:password@host:5432/orca_website
POSTGRES_SSL=true

STRIPE_SECRET_KEY=sk_live_replace_me
STRIPE_WEBHOOK_SECRET=whsec_replace_me
STRIPE_PRO_PRICE_ID=price_replace_with_live_pro
STRIPE_TEAM_PRICE_ID=price_replace_with_live_team

ORCA_LICENSE_PRIVATE_KEY_PEM=replace_with_escaped_ed25519_private_key_pem
ORCA_LICENSE_PUBLIC_KEY_PEM=replace_with_escaped_ed25519_public_key_pem
ORCA_LICENSE_KEY_VERSION=orca-ed25519-v1
